{% extends "documentation.twig" %}

{% set content %}

        {% for itemId, item in documentation %}
            {% if section is not defined or section == itemId %}
                <h2>{{ item.section }}</h2>

                <ul>
                    {% for itemId, item in item.items %}
                        <li class="{{ itemId == current_menu ? 'active' }}">
                            <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.url) }}">
                                {{ item.text|raw }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}

{% endset %}
